* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  /* Fonts------------------------------------ */
  --main-font: 'Montserrat', sans-serif;
  --main-fw: 600;
  --secondary-fw: 400;
  --main-fz: 14px;
  --secondary-fz: 18px;

  /* Colors----------------------------------- */
  --main-light: #fff;
  --secondary-light: #f4f4f4;
  --main-dark: #121214;
  --accent: #037e8c;
  --accent-secondary: #0cbace;
}

body {
  max-width: 1440px;

  font-family: var(--main-font);
  font-style: normal;
  font-weight: var(--main-fw);
  font-size: var(--main-fz);
  color: var(--main-dark);
}

/* Common styles------------------------------ */
.section {
  max-width: 1300px;
  margin: 0px auto;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
}
/* routes common styles---------------------*/
.reverse {
  flex-direction: row-reverse;
}

.indent {
  padding-left: 10px;
}

/* ALL Buttons styles-----------------------*/
/* ---------------------------------------- */
.btn {
  padding: 14px 44px;

  font: inherit;
  font-size: 14px;

  background-color: transparent;

  border: none;
  border-radius: 9px;

  cursor: pointer;

  transition: border 1s ease 0s, color 1.5s ease 0s, background-color 1s ease 0s;
}

.btn-light {
  line-height: calc(18 / 14);
  color: var(--accent);

  border: 1px solid var(--accent);
}

.btn-accent {
  padding: 14px 29px;
  line-height: calc(18 / 14);

  color: var(--main-light);

  background-color: var(--accent);
  border: 1px solid transparent;
}
/* Header btn */
.header__btn {
  padding: 12px 20px;
  margin-left: 18px;

  line-height: calc(15 / 14);
  color: var(--main-light);

  letter-spacing: 0.02em;

  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid transparent;
}

.header__btn:hover,
.header__btn:focus,
.btn-light:hover,
.btn-light:focus {
  color: var(--main-light);

  background-color: var(--accent-secondary);
  border: 1px solid var(--secondary-light);
}

.btn-light:hover,
.btn-light:focus {
  background-color: var(--accent-secondary);
}

/* Hero btn---------------------------------*/
.hero__btn {
  padding: 20px 22px;
  margin-bottom: 192px;

  font-size: 16px;
  line-height: calc(17 / 16);
  color: var(--main-light);

  background-color: var(--accent);
  border: 1px solid transparent;
}

.hero__btn:hover,
.hero__btn:focus,
.btn-accent:hover,
.btn-accent:focus,
.test__btn:hover,
.test__btn:focus {
  color: var(--secondary-light);

  background-color: var(--accent-secondary);
  border: 1px solid var(--accent);
}
/* ---------------------------------------- */

.accent-text {
  font-weight: var(--main-fw);
  font-size: var(--main-fz);
  line-height: calc(21 / 14);
}

/* Header------------------------------------- */
.header {
  position: relative;
  z-index: 50;
}

.header-box {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;

  display: flex;
  justify-content: space-between;

  padding: 12px 0px 108px;
}

/* ---------------------------------------- */

.nav {
  padding-top: 39px;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  line-height: calc(15 / 14);
  color: var(--main-light);

  text-transform: uppercase;
}

.nav__item:not(:first-child) {
  margin-left: 50px;
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-secondary);
}

/* ---------------------------------------- */

.header__link {
  display: block;
  padding: 36px 0px 12px;

  font-size: 20px;
  line-height: calc(21 / 20);
  color: var(--main-light);

  letter-spacing: 0.02em;
}

/* Hero--------------------------------------- */
.hero {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero-container {
  position: relative;
  z-index: 10;
  padding-top: 262px;
}

.hero__title {
  padding-bottom: 37px;
  max-width: 595px;

  font-size: 70px;
  line-height: calc(88 / 70);
  color: var(--main-light);

  letter-spacing: 0.045em;
}

.hero__desc {
  padding-bottom: 82px;

  font-size: 24px;
  line-height: calc(26 / 24);
  color: var(--main-light);
}

/* Hero background---------------------------- */
.hero__img {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

/* Benefits----------------------------------- */
.benefits {
  background-color: var(--main-light);
}
.benefits__list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 47px 70px 27px;
}

.benefits__item {
  position: relative;
}

.benefits__item:not(:first-child) {
  margin-left: 30px;
}

.benefits__pic {
  position: relative;
  z-index: 10;
  max-width: 100%;
  max-height: 100%;
}

.benefits__ellipse {
  position: absolute;
  top: 2px;
  left: 10px;

  width: 36px;
  height: 36px;

  background-color: var(--accent);
  border-radius: 50%;
}

.benefits__title {
  padding: 10px 0px;

  font-weight: var(--main-fw);
  font-size: var(--secondary-fz);
  line-height: calc(20 / 18);
}

.benefits__desk {
  font-weight: var(--secondary-fw);
  font-size: 14px;
  line-height: calc(21 / 14);
}

/* Route----------------------------------- */
.route {
  background-color: #f4f4f4;
}

.route__caption {
  padding: 60px 0px;
  font-size: 36px;
  line-height: calc(47 / 36);

  text-align: center;
}
/* ---------------------------------------- */
.route-wrapper {
  display: flex;

  padding-left: 70px;
  background: url(../img/routes-img/background/vector.png);
}
/* ---------------------------------------- */
.route-content {
  flex: 50%;
  padding-bottom: 120px;
  max-width: 635px;
}

.route-content__title {
  padding-bottom: 9px;

  font-weight: var(--main-fw);
  font-size: 36px;
  line-height: calc(39 / 36);
}

.route-content__subtitle {
  padding-bottom: 32px;

  font-size: 24px;
  line-height: calc(26 / 24);
}
/* ---------------------------------------- */
.route-content__list {
  padding-bottom: 27px;
}

.route-content__item:not(:first-child) {
  padding-top: 10px;
}

.item-route__text {
  display: inline-block;

  padding-left: 17px;

  font-weight: var(--secondary-fw);
  font-size: 16px;
  line-height: calc(17 / 16);

  text-transform: uppercase;
}
/* ---------------------------------------- */
.route-content__caption {
  display: inline-block;
  padding-bottom: 14px;
  padding-right: 10px;

  font-weight: var(--main-fw);
  font-size: var(--secondary-fz);
  line-height: calc(23 / 18);

  text-transform: uppercase;
}

.route-content__text {
  padding-bottom: 40px;
  max-width: 524px;

  font-weight: var(--secondary-fw);
  line-height: calc(22 / 14);
}

.route-content__btn:last-child {
  margin-left: 15px;
}

/* ---------------------------------------- */
/* Route Section Slider */

.swiper {
  width: 850px;
  height: 400px;
  padding-top: 30px;
}

.slider-img {
  padding-left: 20px;
  display: block;
  max-width: 100%;

  border-radius: 30px/30px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: var(--accent);
}

/* Test--------------------------------------- */
.test {
  background: url(../img/test-img/background/vector.png);
  background-color: var(--main-dark);
}

.test-container {
  padding: 81px 0px 94px;
  text-align: center;
}

.test__title {
  padding-bottom: 20px;

  font-size: 36px;
  line-height: calc(47 / 36);
  color: var(--main-light);
}

.test__text {
  padding-bottom: 42px;
  font-size: var(--secondary-fz);
  line-height: calc(23 / 18);
  color: var(--main-light);
}

/* Gallery section--------------------------*/

/* slick slider classes */
/* Слайдер */
.slick-slider {
  min-width: 0;
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
  /* Слайдер с точками */
}
.slick-slider.slick-dotted {
}

/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow {
}
/* Стрелка влево */
.slick-arrow.slick-prev {
}
/* Стрелка вправо */
.slick-arrow.slick-next {
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}

/* ---------------------------------------- */
.gallery__wrapper {
  position: relative;
  padding: 50px;
}
.gallery__slide {
  text-align: center;
  opacity: 0.4;
  transition: all 0.5s ease 0s;
}
.gallery__img {
  border-radius: 30px/20px;
  padding: 0px 15px;
  max-width: 100%;
}
/* ---------------------------------------- */
/* Лента слайдов */
.slick-track {
  display: flex;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* ---------------------------------------- */
.gallery__wrapper .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 27;
  font-size: 0;
  width: 30px;
  height: 30px;
  border: none;
}

.gallery__wrapper .slick-arrow.slick-prev {
  left: 5px;

  background: url(../img/routes-img/icons/arrow-left-long-solid.svg) 0 0/100% no-repeat;
}
/* Стрелка вправо */
.gallery__wrapper .slick-arrow.slick-next {
  right: 5px;

  background: url(../img/routes-img/icons/arrow-right-long-solid.svg) 0 0/100% no-repeat;
}
/* ---------------------------------------- */
/* Точки (булиты) */
.gallery__wrapper .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery__wrapper .slick-dots li {
  list-style: none;
  margin-left: 5px;
  cursor: pointer;
}

/* Элемент точки */
.gallery__wrapper .slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--main-light);
  border: 1px solid var(--accent-secondary);
  cursor: pointer;
}

/* Активная точка */
.gallery__wrapper .slick-dots li.slick-active button {
  background-color: var(--accent-secondary);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.gallery__wrapper .slick-center {
  opacity: 1;
}
