* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  /* Fonts------------------------------------ */
  --main-font: 'Montserrat', sans-serif;
  --main-fw: 600;
  --secondary-fw: 400;
  --main-fz: 14px;
  --secondary-fz: 18px;
  --title-fz: 36px;
  --title-lh: calc(47 / 36);

  /* Colors----------------------------------- */
  --main-light: #fff;
  --secondary-light: #f4f4f4;
  --main-dark: #121214;
  --accent: #037e8c;
  --accent-secondary: #0cbace;
}

body {
  max-width: 1440px;

  font-family: var(--main-font);
  font-style: normal;
  font-weight: var(--main-fw);
  font-size: var(--main-fz);
  color: var(--main-dark);
}

/* Common styles------------------------------ */
.section {
  max-width: 1300px;
  margin: 0px auto;
}

/* ---------------------------------------- */
.link {
  text-decoration: none;
  color: currentColor;
}

/* ---------------------------------------- */
.list {
  list-style: none;
}

/* ---------------------------------------- */
.title {
  font-size: var(--title-fz);
  line-height: var(--title-lh);
}

/* ---------------------------------------- */
.accent-text {
  font-weight: var(--main-fw);
  font-size: var(--main-fz);
  line-height: calc(21 / 14);
}

/* ---------------------------------------- */
.center {
  text-align: center;
}

/* routes common styles---------------------*/
.reverse {
  flex-direction: row-reverse;
}

.indent {
  padding-left: 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ALL Buttons styles-----------------------*/
/* ---------------------------------------- */
.btn {
  padding: 14px 44px;

  font: inherit;
  font-size: 14px;

  background-color: transparent;

  border: none;
  border-radius: 9px;

  cursor: pointer;

  transition: border 1s ease 0s, color 1.5s ease 0s, background-color 1s ease 0s;
}

.btn-light {
  line-height: calc(18 / 14);
  color: var(--accent);

  border: 1px solid var(--accent);
}

.btn-accent {
  padding: 14px 29px;
  line-height: calc(18 / 14);

  color: var(--main-light);

  background-color: var(--accent);
  border: 1px solid transparent;
}
/* Header btn */
.header__btn {
  padding: 12px 20px;
  margin-left: 18px;

  line-height: calc(15 / 14);
  color: var(--main-light);

  letter-spacing: 0.02em;

  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid transparent;
}

.header__btn:hover,
.header__btn:focus,
.btn-light:hover,
.btn-light:focus,
.offer__btn:hover,
.offer__btn:focus {
  color: var(--main-light);

  background-color: var(--accent-secondary);
  border: 1px solid var(--secondary-light);
}

.btn-light:hover,
.btn-light:focus {
  background-color: var(--accent-secondary);
}

/* Hero btn---------------------------------*/
.hero__btn {
  padding: 20px 22px;
  margin-bottom: 192px;

  font-size: 16px;
  line-height: calc(17 / 16);
  color: var(--main-light);

  background-color: var(--accent);
  border: 1px solid transparent;
}

.hero__btn:hover,
.hero__btn:focus,
.btn-accent:hover,
.btn-accent:focus,
.test__btn:hover,
.test__btn:focus,
.gift-desc__btn:hover,
.gift-desc__btn:focus {
  color: var(--secondary-light);

  background-color: var(--accent-secondary);
  border: 1px solid var(--accent);
}

/* Offer btn------------------------------- */

.offer__btn {
  padding: 10px 20px;
}

/* Gift btn-------------------------------- */

.gift-desc__btn {
  padding-left: 22px;
  padding-right: 22px;
}

/* QA btn---------------------------------- */
.content-qa__btn {
  display: block;
  margin-left: 200px;
}

/* Header------------------------------------- */
.header {
  position: relative;
  z-index: 50;
}

.header-box {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;

  display: flex;
  justify-content: space-between;

  padding: 12px 0px 108px;
}

/* ---------------------------------------- */

.nav {
  padding-top: 39px;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  line-height: calc(15 / 14);
  color: var(--main-light);

  text-transform: uppercase;
}

.nav__item:not(:first-child) {
  margin-left: 50px;
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-secondary);
}

/* ---------------------------------------- */

.header__link {
  display: block;
  padding: 36px 0px 12px;

  font-size: 20px;
  line-height: calc(21 / 20);
  color: var(--main-light);

  letter-spacing: 0.02em;
}

/* Hero--------------------------------------- */
.hero {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero-container {
  position: relative;
  z-index: 10;
  padding-top: 162px;
}

.hero__title {
  padding-bottom: 37px;
  max-width: 595px;

  font-size: 70px;
  line-height: calc(88 / 70);
  color: var(--main-light);

  letter-spacing: 0.045em;
}

.hero__desc {
  padding-bottom: 82px;

  font-size: 24px;
  line-height: calc(26 / 24);
  color: var(--main-light);
}

/* Hero background---------------------------- */
.hero__img {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

/* Benefits----------------------------------- */
.benefits {
  background-color: var(--main-light);
}
.benefits__list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 47px 70px 27px;
}

.benefits__item {
  position: relative;
}

.benefits__item:not(:first-child) {
  margin-left: 30px;
}

.benefits__pic {
  position: relative;
  z-index: 10;
  max-width: 100%;
  max-height: 100%;
}

.benefits__ellipse {
  position: absolute;
  top: 2px;
  left: 10px;

  width: 36px;
  height: 36px;

  background-color: var(--accent);
  border-radius: 50%;
}

.benefits__title {
  padding: 10px 0px;

  font-weight: var(--main-fw);
  font-size: var(--secondary-fz);
  line-height: calc(20 / 18);
}

.benefits__desk {
  font-weight: var(--secondary-fw);
  font-size: 14px;
  line-height: calc(21 / 14);
}

/* Route----------------------------------- */
.route {
  background-color: #f4f4f4;
}

.route__caption {
  padding: 60px 0px;
  font-size: 36px;
  line-height: calc(47 / 36);

  text-align: center;
}
/* ---------------------------------------- */
.route-wrapper {
  display: flex;

  padding-left: 70px;
  background: url(../img/routes-img/background/vector.png);
}

.route-wrapper:nth-child(3) {
  padding-left: 16px;
}

/* ---------------------------------------- */
.route-content {
  flex: 50%;
  padding-bottom: 120px;
  max-width: 635px;
}

.route-content__title {
  padding-bottom: 9px;

  font-weight: var(--main-fw);
  line-height: calc(39 / 36);
}

.route-content__subtitle {
  padding-bottom: 32px;

  font-size: 24px;
  line-height: calc(26 / 24);
}
/* ---------------------------------------- */
.route-content__list {
  padding-bottom: 27px;
}

.route-content__item:not(:first-child) {
  padding-top: 10px;
}

.item-route__text {
  display: inline-block;

  padding-left: 17px;

  font-weight: var(--secondary-fw);
  font-size: 16px;
  line-height: calc(17 / 16);

  text-transform: uppercase;
}
/* ---------------------------------------- */
.route-content__caption {
  display: inline-block;
  padding-bottom: 14px;
  padding-right: 10px;

  font-weight: var(--main-fw);
  font-size: var(--secondary-fz);
  line-height: calc(23 / 18);

  text-transform: uppercase;
}

.route-content__text {
  padding-bottom: 40px;
  max-width: 524px;

  font-weight: var(--secondary-fw);
  line-height: calc(22 / 14);
}

.route-content__btn:last-child {
  margin-left: 15px;
}

/* ---------------------------------------- */
/* Route Section Slider */
.route-slider {
  position: relative;
  flex: 50%;
  margin-right: 100px;

  cursor: pointer;
}
.route-slider__slide {
  text-align: center;

  transition: all 0.5s ease 0s;
}
.route-slider__img {
  padding: 0px 10px;

  max-width: 100%;

  border-radius: 30px/20px;
}
/* ---------------------------------------- */
/* Точки(булиты) */
.route-slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.route-slider .slick-dots li {
  margin-left: 5px;

  list-style: none;
}

.route-slider .slick-dots button {
  width: 10px;
  height: 10px;

  font-size: 0;

  background-color: var(--main-light);

  border-radius: 50%;
  border: 1px solid var(--accent-secondary);

  cursor: pointer;
}

/* Активная точка */
.route-slider .slick-dots .slick-active button {
  background-color: var(--accent-secondary);
}

/* ---------------------------------------- */
/* Стрелка */
.route-slider .slick-arrow {
  position: absolute;
  top: 30%;
  z-index: 27;

  height: 30px;
  width: 30px;

  font-size: 0;

  border: none;
  cursor: pointer;
}

/* Стрелка влево */
.route-slider .slick-arrow.slick-prev {
  left: 0px;

  background: url(../img/routes-img/icons/arrow-left-long-solid.svg) 0 0/100% no-repeat;
}

/* Стрелка вправо */
.route-slider .slick-arrow.slick-next {
  right: 10px;

  background: url(../img/routes-img/icons/arrow-right-long-solid.svg) 0 0/100% no-repeat;
}

/* Test--------------------------------------- */
.test {
  background: url(../img/test-img/background/vector.png);
  background-color: var(--main-dark);
}

.test-container {
  padding: 81px 0px 94px;
  text-align: center;
}

.test__title {
  padding-bottom: 20px;

  color: var(--main-light);
}

.test__text {
  padding-bottom: 42px;

  font-size: var(--secondary-fz);
  line-height: calc(23 / 18);
  color: var(--main-light);
}

/* Gallery section--------------------------*/
.gallery__title {
  padding: 63px 0px 43px;
}

/* ---------------------------------------- */
.gallery__wrapper {
  position: relative;
  padding: 0px 46px 60px;

  cursor: pointer;
}

.gallery__slide {
  text-align: center;

  opacity: 0.4;

  transition: all 0.5s ease 0s;
}

.gallery__img {
  padding: 0px 15px;
  max-width: 100%;

  border-radius: 30px/20px;
}
/* ---------------------------------------- */
/* Слайдер */
.slick-slider {
  min-width: 0;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* ---------------------------------------- */
/* Стрелка */
.gallery__wrapper .slick-arrow {
  position: absolute;
  top: 40%;
  z-index: 27;

  width: 30px;
  height: 30px;

  font-size: 0;

  border: none;
  cursor: pointer;
}

/* Стрелка влево */
.gallery__wrapper .slick-arrow.slick-prev {
  left: 10px;

  background: url(../img/routes-img/icons/arrow-left-long-solid.svg) 0 0/100% no-repeat;
}

/* Стрелка вправо */
.gallery__wrapper .slick-arrow.slick-next {
  right: 10px;

  background: url(../img/routes-img/icons/arrow-right-long-solid.svg) 0 0/100% no-repeat;
}

/* ---------------------------------------- */
/* Точки (булиты) */
.gallery__wrapper .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery__wrapper .slick-dots li {
  list-style: none;
  margin-left: 5px;
  cursor: pointer;
}

/* Элемент точки */
.gallery__wrapper .slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--main-light);
  border: 1px solid var(--accent-secondary);
  cursor: pointer;
}

/* Активная точка */
.gallery__wrapper .slick-dots li.slick-active button {
  background-color: var(--accent-secondary);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/* Активный слайд */
.gallery__wrapper .slick-center {
  opacity: 1;
}

/* Video section--------------------------- */

.video-container {
  padding: 82px 0;
  background: url(../img/video/video-back.jpg) no-repeat;
}

.video-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1040px;
  height: 430px;
}

.video-container video {
  max-width: 100%;
  max-height: 100%;
}

/* Team section---------------------------- */
.team-container {
  padding: 64px 0px;
  background: url(../img/team/canister.png) 0 630% no-repeat,
    url(../img/team/bumper.png) 100% -400% no-repeat;
}

.team__title {
  padding-bottom: 40px;
}

.team__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team__item {
  background-color: var(--secondary-light);
  border-radius: 9px;
}

.item-team__img {
  border-radius: 10px;
}

.item-team__desc {
  padding: 18px 0px 22px 26px;
}

.item-team__title {
  font-size: 24px;
  line-height: calc(31 / 24);
  color: var(--accent);
}

.item-team__team {
  font-weight: var(--secondary-fw);
  font-size: var(--secondary-fz);
  line-height: calc(23 / 18);
}

/* Terms section--------------------------- */

.terms-container {
  background: url(../img/terms/background.png) no-repeat;
}

.terms-wrapper {
  padding: 50px 0 82px;
}
/* ---------------------------------------- */
.terms__title {
  padding-bottom: 43px;
  margin-left: 400px;
  max-width: 500px;
}

.terms-list {
  display: flex;
  flex-wrap: wrap;

  gap: 30px;
}

.terms__item {
  max-width: 412px;
  height: 112px;

  background: url(../img/terms/icon.png) 5px 9px no-repeat;

  background-color: var(--main-light);
  border-radius: 9px;
}

.terms__desc {
  padding-top: 9px;
  padding-left: 65px;
  padding-right: 27px;

  font-weight: var(--secondary-fw);
  line-height: calc(21 / 14);
}

/* Offer section--------------------------- */

.offer-container {
  background: url(../img/offer/buggy.png) 0% 180% no-repeat,
    url(../img/offer/detail.png) 100% -100% no-repeat;
}

.offer-wrapper {
  padding: 64px 0 75px;
}
/* ---------------------------------------- */
.offer__title {
  padding-bottom: 45px;

  color: #373737;
}
/* ---------------------------------------- */
.offer__list {
  display: flex;
}

.offer__item {
  display: flex;

  background: url(../img/offer/blot.png) 100% 100% no-repeat;
  background-color: var(--secondary-light);

  border-radius: 9px;
}

.offer__item:last-child {
  margin-left: 15px;
}
/* ---------------------------------------- */
.offer__img {
  border-radius: 20px/10px;
}
/* ---------------------------------------- */
.offer-box {
  padding-top: 26px;
  padding-left: 20px;
}

.offer__subtitle {
  font-size: var(--title-fz);
  line-height: calc(50 / 36);
  color: var(--accent);
}

.offer__accent {
  font-weight: var(--main-fw);
  font-size: 24px;
  line-height: calc(33 / 24);
  color: var(--accent);
}

.offer__desc {
  padding-top: 15px;

  font-weight: var(--secondary-fw);
  font-size: var(--secondary-fz);
  line-height: calc(23 / 18);
}

.offer__desc:nth-child(2) {
  padding-bottom: 14px;
}

/* Gift section---------------------------- */

.gift-container {
  padding: 50px 0 90px;

  background: url(../img/gift/background.png) no-repeat;
  background-color: var(--secondary-light);
}

/* ---------------------------------------- */
/* gift top */
.gift-top {
  text-align: center;
}

.gift-top__title {
  padding-bottom: 12px;

  color: #151515;
}

.gift-top__desc {
  font-size: 20px;
  line-height: calc(28 / 20);
  color: var(--accent);
}

.gift-top__desc:last-child {
  padding-bottom: 46px;
}

/* ---------------------------------------- */
/* gift box */
.gift-box {
  display: flex;
}

/* ---------------------------------------- */
/* gift desc */
.gift-desc {
  flex: 0 0 50%;
}

.gift-desc__text {
  padding-bottom: 30px;
  max-width: 524px;

  font-weight: var(--secondary-fw);
  font-size: var(--secondary-fz);
  line-height: calc(31 / 18);
  color: #151515;
}

/* ---------------------------------------- */
/* gift-card */
.gift-card {
  background: url(../img/gift/bow.png) 0% 0% no-repeat,
    url(../img/gift/blot.png) 100% 100% no-repeat;
  background-color: #373737;

  border-radius: 9px;
}

.gift-card__title {
  padding-top: 35px;
  padding-right: 63px;
  padding-left: 206px;
  padding-bottom: 50px;

  font-size: 48px;
  line-height: calc(62 / 48);
  color: #121214;
}

.gift-card__wrap {
  position: relative;

  display: flex;
  flex: 0 0 50%;
}

.gift-card__box {
  padding-left: 124px;
}

.gift-card__text {
  padding-bottom: 22px;
  max-width: 226px;

  font-size: 24px;
  line-height: calc(30 / 24);
  color: var(--main-light);
}

.gift-card__desc {
  padding-bottom: 59px;

  font-weight: var(--secondary-fw);
  font-size: 16px;
  line-height: calc(21 / 16);
  color: var(--main-light);
}

.gift-card__pic {
  position: absolute;
  top: -58px;
  left: 462px;

  max-width: 104px;
  max-height: 133px;
}

/* QA section------------------------------ */

.qa-continer {
  position: relative;

  padding: 0px 112px;
}
/* ---------------------------------------- */
.qa__title {
  padding: 70px 0 50px;

  font-size: 36px;
  line-height: calc(51 / 36);
}

/* ---------------------------------------- */
.qa-wrapper {
  display: flex;
}

.qa__list {
  flex: 50%;
  padding-bottom: 85px;
}

.qa__item {
  padding: 20px 16px 0px;
  max-width: 539px;

  border: 0.5px solid #848484;
  border-radius: 2px;
}

.qa__item:not(:last-child) {
  margin-bottom: 8px;
}

/* ---------------------------------------- */
.qa__subtitle {
  position: relative;

  padding-bottom: 19px;

  font-weight: var(--main-fw);
  font-size: var(--secondary-fz);
  line-height: calc(20 / 16);

  cursor: pointer;
}

/* arrows subtitle*/
.qa__subtitle::before,
.qa__subtitle::after {
  content: '';

  position: absolute;

  width: 15px;
  height: 2px;

  background-color: var(--main-dark);

  transition: all 0.3s ease 0s;
}

.qa__subtitle::before {
  top: 0;
  left: 480px;

  transform: rotate(-40deg);
}

.qa__subtitle::after {
  top: 0px;
  left: 470px;

  transform: rotate(40deg);
}

.qa__subtitle.active {
  color: var(--accent-secondary);
}

/* active arrows */
.qa__subtitle.active::before,
.qa__subtitle.active::after {
  background-color: var(--accent-secondary);
}

.qa__subtitle.active::before {
  transform: rotate(40deg);
}

.qa__subtitle.active::after {
  transform: rotate(-40deg);
}

/* ---------------------------------------- */
.qa__text {
  display: none;

  padding: 6px 0 30px;
  max-width: 487px;

  font-weight: var(--secondary-fw);
  line-height: 1.5;
}

/* ---------------------------------------- */
.qa-content {
  flex: 50%;

  text-align: center;
}
/* ---------------------------------------- */
.content-qa__title {
  padding: 14px 0;

  font-weight: var(--main-fw);
  font-size: 24px;
  line-height: calc(29 / 24);
}

.content-qa__text {
  display: inline-block;
  padding-bottom: 30px;
  max-width: 378px;

  font-weight: var(--secondary-fw);
  line-height: 17px;
}

/* QA background img----------------------- */
.qa-bg {
}
.qa-bg__left {
  position: absolute;
  top: 37%;
  left: 0%;
}
.qa-bg__right {
  position: absolute;
  right: 0;
  bottom: 15%;
}
/* Services section------------------------ */

.services-container {
  padding-bottom: 110px;
}

/* ---------------------------------------- */
.services__title {
  padding-bottom: 65px;

  font-size: var(--title-fz);
  line-height: calc(51 / 36);
}

/* ---------------------------------------- */
.services__list {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
}

.services__item {
  background: var(--secondary-light);
  border-radius: 9px;
}

/* ---------------------------------------- */
.services__img {
  border-radius: 10px;
}

.services__text {
  padding: 10px 0 26px 24px;
  max-width: 227px;

  font-size: 18px;
  line-height: calc(23 / 18);
  color: var(--accent);
}
